<h1>Listing Weapons</h1>

<table>
  <thead>
    <tr>
      <%= for header <- @headers do %>
      <th><%= header %></th>
       <% end %>
    </tr>
  </thead>
  <tbody>
<%= for weapon <- @weapon_config do %>
    <tr>
      <%= for {_stat, value} <- weapon  do %>
      <td><%= value %></td>
      <% end %>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= live_patch "New Weapon", to: Routes.weapon_index_path(@conn, :new) %></span>
