<h1>Weapon Generator</h1>
<button phx-click="generate">Generate</button>
<table>
  <%= for {k, v} <- @weapon do %>
    <tr>
      <td><%= k %></td>
      <td><%= v %></td>
    </tr>
  <% end %>
</table>
